{% extends "admin/change_form.html" %}

{% load i18n %}
{% load pipeline %}

{% block extrahead %}{{ block.super }}
    {% javascript 'admin' %}
{% endblock %}
{% block extrastyle %}{{ block.super }}
    {% stylesheet 'admin' %}
{% endblock %}

{% block object-tools %}{{ block.super }}
    {% if object_id %}
    <a class="btn btn-danger impersonatelink" href="{% url 'auth:impersonate' object_id %}">
        {% trans "Impersonate" %}
    </a>
    {% endif %}
{% endblock %}


{% block admin_change_form_document_ready %}{{ block.super}}
    <!-- Initialize the plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_project_permissions').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                selectAllJustVisible: false
            });
        });

    </script>
{% endblock %}
