{% extends "clancy/authorization/base.html" %}

{% load i18n %}

{% block content %}
 <div class="container login-container">
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
        <div class="panel-heading centered">
        <i class="fa fa-expeditedssl fa-5x"></i>

        </div>
        <div class="panel-body">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <span class="label {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} label-danger {% else %} label-success {% endif %}"> {{ message }} </span>
                {% endfor %}
            </ul>
            {% endif %}

            <form class="form-resetpass" action="{% url 'auth:recover-password'%}" method="post">
                {% csrf_token %}
                <div {% if form.email.errors %} class="form-group has-error" {% endif %}>

                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <span class="label label-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}

                    <label for="{{ form.email.id_for_label }}" class="sr-only">{{ form.email.label }}</label>
                    <input type="email"
                            id="{{ form.email.id_for_label }}"
                            class="form-control"
                            placeholder="{{ form.email.label }}"
                            {% if form.email.value %} value="{{ form.email.value }}" {% endif %}
                            name="{{ form.email.name }}"
                            required autofocus >
                </div>

                <input id="{{ form.redirect_uri.id_for_label }}" name="{{ form.redirect_uri.name }}" type="hidden" value="{{ form.redirect_uri.value }}">
                <button class="btn btn-lg btn-primary btn-block btn-default" type="submit">{% trans "Recover password" %}</button>
          </form>
        </div>
    </div>
    </div>
  </div>

</div> <!-- /container -->
{% endblock content %}
